<div mat-dialog-title class="nh-dialog-title">
  <h1>
    Confirmation
  </h1>

  <div mat-dialog-actions>

    <button
      mat-icon-button
      (click)="accept()"
      matTooltip="Confirm"
      [disabled]="!canProceed">
      <mat-icon>done</mat-icon>
    </button>

    <button
      mat-icon-button
      mat-dialog-close=""
      matTooltip="Cancel">
      <mat-icon>close</mat-icon>
    </button>

  </div>
</div>

<div mat-dialog-content class="nh-dialog-content">

  <p>Are you sure you want to {{ actionDescription }}</p>

  <p *ngIf="permanent"><b>
    This action is permament and cannot be undone
  </b></p>

  <ng-container *ngIf="confirm">

    <p>Type in "<code>{{ this.confirmationText }}</code>"" to proceed</p>

    <mat-form-field>

      <input
        matInput
        [ngModel]="confirmationInput"
        [placeholder]="this.confirmationText"
        (ngModelChange)="confirmationInputChange($event)"
        autocomplete="off"/>


    </mat-form-field>
  </ng-container>
</div>
